*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
}

#main{
    margin-top: 50px;
    max-width: 300px;
    width:100%;
    background-color: rgb(235, 237, 231);
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
     rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     background-image: url("weather-bg.png");
    
}
#action{
    padding: 20px;
}
#input_city{
    height: 35px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(106, 106, 111);
    
}
#input_city:focus {
    border-color: #007bff; 
    background-color: transparent;
    color: #000000; 
    outline: none;
}
#search_btn{
    height: 30px;
    outline: none;
  
    /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
    border: none;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    background-color: transparent;
    border-bottom: 1px solid rgb(83, 82, 82);
    padding-bottom: 10px;
    color: rgb(106, 102, 102);
}
::placeholder{
    font-size: 15px;
}
#weather_img{
    height: 140px;
    width: 140px;
    margin-top: -20px;
    margin-bottom: -30px;
   
}